<br>
<div class="form-group">
    <label for='dateOfBirth'>Дата рождения</label>
    <input required value="<%= student.dateOfBirth %>" type="date" name="dateOfBirth" id='dateOfBirth' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='email'>Email</label>
    <input required value="<%= student.email %>" type="text" name="email" id='email' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='phone'>Телефон</label>
    <input required value="<%= student.phone %>" type="text" name="phone" id='phone' class="form-control">
</div>
<br>
<label for="formOfStudy">Форма обучения:</label>

<select name="formOfStudy" id="formOfStudy">
  <option value="Очное">Очное<%= student.formOfStudy %></option>
  <option value="Заочное">Заочное<%= student.formOfStudy %></option>
</select> 
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<div class="form-group">
    <label for='department'>Кафедра</label>
    <input required value="<%= student.department %>" type="text" name="department" id='department' class="form-control">
</div>
<br>
<!-- <label for="faculty">Выберите факультет:</label>
<select name="faculty" id="faculty">
  <option value="volvo">Volvo<%= student.faculty %></option>
  <option value="saab">Saab<%= student.faculty %></option>
  <option value="mercedes">Mercedes<%= student.faculty %></option>
  <option value="audi">Audi<%= student.faculty %></option>
</select>  -->
<div class="form-group">
    <label for='faculty'>Факултет</label>
    <input required value="<%= student.faculty %>" type="text" name="faculty" id='faculty' class="form-control">
</div>
<br>
<br>

<br>
<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>